<div class="row">

</div>
<div class="row content">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Favorite Critters!</h1>
    <!-- <h2>Critter Count: {{count[0].count}}</h2> -->
    <ul ng-repeat="favorite in favorites" class="favorite-critters">
      <li>
        <div class="row">
          <!-- <div class="col-md-1 "></div> -->
          <div class="col-md-2 ">
            <h2>ID: {{favorite.animal_id}}</h2>
          </div>
          <div class="col-md-2 ">
            <img class="pic" ng-src="{{favorite.image}}" />
          </div>
          <div class="col-md-6 ">
            <h2>Name: {{favorite.name}}</h2>
            <p>Descriptiopn: {{favorite.description}}...</p>
          </div>
          <div class="col-md-1"></div>
        </div>


      </li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>
