<div class="container">

  <header class="page-header">
    <h1 class="title"><a class="ranimals" href="#home">R<em>animals</em></a></h1>
    <p class="address top-address">Matching random animals with random people since Sunday</p>
  </header>

  <div id="navBar" class="row">
    <div class="col-md-6 buttons">
      <a class="links" href="#home" role="button">Home</a>
      <a class="links" href="#favorites" role="button">Favorite Critters</a>
      <a class="links" href="#animals" role="button">Search for Critters</a>
    </div>
    <div class="col-md-2" ng-controller="homeController" ng-model="count">
        <h2 class="critterCount">Critter Count: {{count[0].count}}</h2>
    </div>
  </div>
</div>
